<# Endowment, foundation, OCIO, asset management. Data integrity and research. #>
<% extends "letters/base.tex.j2" %>
<% block body %>
<% for paragraph in paragraphs %>
<<paragraph>>

<% endfor %>
<% endblock %>
